<?xml version="1.0"?>
<model>
  <name>Mobile Delivery Robot</name>
  <version>0.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>RoToSY</name>
    <email>cjfgml0221@naver.com</email>
  </author>

  <description>
    TurtleBot3 Waffle based mobile delivery robot with a medication tray and boxes.
  </description>
</model>
